/*!
 * avgrund 0.1
 * http://lab.hakim.se/avgrund
 * MIT licensed
 *
 * Created by Hakim El Hattab, http://hakim.se
 */

body {
	display: flex;
}

.avgrund-active body {
	transform: scale( 0.9 );
}

.avgrund-cover {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	background: rgba( 0, 0, 0, 0.5 );
}
	.avgrund-active .avgrund-cover {
		visibility: visible;
		opacity: 1;
	}

.avgrund-contents {
	position: relative;
	padding: 20px;
	max-width: 400px;
	margin: auto;
}
	.avgrund-active .avgrund-contents {
		-webkit-filter: blur(2px);
		   -moz-filter: blur(2px);
		    -ms-filter: blur(2px);
		        filter: blur(2px);
	}
	.no-blur.avgrund-active .avgrund-contents {
		-webkit-filter: none;
		   -moz-filter: none;
		    -ms-filter: none;
		        filter: none;
	}

.avgrund-popup {
	position: absolute;
	width: 440px;
	left: 50%;
	top: 50%;
	margin: -140px 0 0 -220px;
	visibility: hidden;
	opacity: 0;
	z-index: 2;
	padding: 30px;

	background: white;
	box-shadow: 0px 0px 60px rgba( 0, 0, 0, 0.3 );
	border-radius: 3px;
	box-sizing: border-box;

	transform: scale( 0.8 );
}
	.avgrund-active .avgrund-popup-animate {
		visibility: visible;
		opacity: 1;

		transform: scale( 1.1111 );
	}
	.avgrund-popup.stack {
		transform: scale( 1.5 );
	}
	.avgrund-active .avgrund-popup.stack {
		transform: scale( 1.1111 );
	}


.avgrund-ready body,
.avgrund-ready .avgrund-contents,
.avgrund-ready .avgrund-popup,
.avgrund-ready .avgrund-cover {
	transform-origin: 50% 50%;
	transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.avgrund-ready .avgrund-popup.no-transition {
	transition: none;
}

